body {
	background-color: var(--clr-navy-900);
	font-family: var(--ff-primary);
}
.theme-btn,
.search-btn,
.search-box,
.link-description {
	cursor: pointer;
}
.theme-btn,
.theme-name,
svg {
	transition: all 0.2s;
}
