:root {
	--clr-white: hsl(0, 0%, 100%);
	--clr-black: hsl(0, 0%, 0%);
	--clr-blue-400: hsl(212, 100%, 50%);
	--clr-btn-hover: hsl(212, 100%, 69%);
	--clr-light-200: hsl(228, 100%, 98%);
	--clr-navy-400: hsl(217, 35%, 45%);
	--clr-navy-700: hsl(222, 41%, 20%);
	--clr-navy-900: hsl(220, 40%, 13%);
	--clr-gray-500: hsl(217, 20%, 51%);
	--clr-dark-800: hsl(217, 21%, 21%);
	--clr-theme-light-hover: hsl(222, 44%, 70%);
	--clr-theme-dark-hover: hsl(220, 18%, 16%);

	--clr-btn: hsl(212, 100%, 50%);
	--clr-background: hsl(222, 41%, 20%);
	--clr-link-text: hsl(0, 0%, 100%);
	--clr-btn-text: hsl(0, 0%, 100%);
	--clr-light-100: hsl(0, 0%, 100%);
	--clr-icon: hsl(0, 0%, 100%);

	--ff-primary: 'Space Mono', serif;

	--fz-11: 11px;
	--fz-12: 12px;
	--fz-13: 13px;
	--fz-14: 14px;
	--fz-15: 15px;
	--fz-16: 16px;
	--fz-17: 17px;
	--fz-18: 18px;
	--fz-20: 20px;
	--fz-22: 22px;
	--fz-24: 24px;
	--fz-25: 25px;
	--fz-26: 26px;
	--fz-28: 28px;
	--fz-30: 30px;
	--fz-31: 31px;
	--fz-32: 32px;
	--fz-33: 33px;
	--fz-36: 36px;
	--fz-38: 38px;
}
